.main-block {
	background: url('@img/main-page/main-block/bg.png') center / cover no-repeat;
	position: relative;
	overflow: hidden;

	&::after {
		content: '';
		display: block;
		background: rgba(231, 155, 100, 0.3);
		filter: blur(146px);
		position: absolute;
		bottom: -20%;
		right: 0;
		width: percent(849, 1370);
		height: percent(560, 680);
	}

	// .main-block__container
	&__container {
	}

	&__body {
		display: grid;

		@media (min-width: $mobile) {
			grid-template-columns: 1fr 50%;
		}
	}

	// .main-block__content
	&__content {
	}

	// .main-block__img
	&__media {
	}
}

.content-main-block {
	position: relative;
	z-index: 1;
	@include adaptiveValue('margin-top', 150, 20);
	@include adaptiveValue('margin-bottom', 150, 20);

	// .content-main-block__title
	&__title {
		font-weight: 700;
		@include adaptiveValue('font-size', 36, 25);
		line-height: math.div(44, 36);

		&:not(:last-child) {
			margin-bottom: em(26, 36);
		}
	}

	// .content-main-block__text
	&__text {
		@include adaptiveValue('font-size', 20, 14);
		line-height: math.div(24, 20);
		color: #4d4d4d;

		&:not(:last-child) {
			margin-bottom: em(52, 20);
		}
	}

	// .content-main-block__button
	&__button {
		@media (max-width: $mobile) {
			position: absolute;
			bottom: 5%;
			left: 0;
			width: 100%;
		}
	}
}

.media-main-block {
	position: relative;
	z-index: 1;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;

	img {
		max-width: 100%;
	}

	@media (max-width: $mobile) {
		justify-content: center;
		align-items: center;
	}
}

//====================================================================================================

.about-implantation {
	@include adaptiveValue('padding-top', 100, 40);
	@include adaptiveValue('padding-bottom', 100, 40);

	// .about-implantation__container
	&__container {
		position: relative;
	}

	// .about-implantation__body
	&__body {
		@include adaptiveValue('margin-top', 50, 30);
	}

	// .about-implantation__slider
	&__slider {
		padding: rem(15);
		margin: rem(-15);
	}

	// .about-implantation__wrapper
	&__wrapper {
	}

	// .about-implantation__slide
	&__slide {
	}

	// .about-implantation__item
	&__item {
	}
}

.item-about-implantation {
	background: $mainWhite;
	box-shadow: 0px 5px 12px -1px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	transition: box-shadow 0.3s ease 0s;

	@media (any-hover: hover) {
		&:hover {
			box-shadow: 0px 5px 12px -1px rgba(0, 0, 0, 0.3);
		}
	}

	// .item-about-implantation__link
	&__link {
	}

	// .item-about-implantation__image-ibg
	&__image-ibg {
		padding-bottom: percent(320, 320);
	}

	// .item-about-implantation__title
	&__title {
		font-size: rem(16);
		line-height: math.div(18, 16);
		padding: rem(28) rem(28) rem(40);

		@media (max-width: $mobile) {
			padding: rem(14) rem(14) rem(20);
		}
	}
}

//====================================================================================================

.doctors-block {
	background-color: $mainOrange;
	@include adaptiveValue('padding-top', 65, 25);
	@include adaptiveValue('padding-bottom', 160, 50);

	// .doctors-block__container
	&__container {
		position: relative;
	}

	// .doctors-block__body
	&__body {
		@include adaptiveValue('margin-top', 75, 30);
	}

	// .doctors-block__slider
	&__slider {
		padding: rem(15);
		margin: rem(-15);
	}

	// .doctors-block__wrapper
	&__wrapper {
	}

	// .doctors-block__slide
	&__slide {
	}
}

//====================================================================================================

.consultation-block {
	@include adaptiveValue('padding-top', 100, 40);
	@include adaptiveValue('padding-bottom', 100, 40);

	// .consultation-block__container
	&__container {
	}

	// .consultation-block__body
	&__body {
		display: grid;
		grid-template-columns: 1fr percent(495, 1015);
		@include adaptiveValue('column-gap', 110, 30, 992, 768, 1);
		align-items: center;
		justify-items: center;
		row-gap: rem(40);

		@media (max-width: $mobile) {
			grid-template-columns: 1fr;
		}
	}

	// .consultation-block__info
	&__info {
	}

	// .consultation-block__image
	&__image {
		img {
			max-width: 100%;
		}
	}
}

.info-consultation-block {
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	@media (max-width: $tablet) {
		align-items: center;
	}

	// .info-consultation-block__list
	&__list {
		margin-top: rem(40);

		&:not(:last-child) {
			margin-bottom: em(45, 17);
		}
	}

	// .info-consultation-block__item
	&__item {
		display: flex;
		align-items: center;
		gap: rem(20);

		@media (max-width: $mobile) {
			flex-direction: column;
		}

		&:not(:last-child) {
			margin-bottom: em(25, 14);
		}

		&::before {
			font-size: rem(28);
			width: rem(28);
			height: rem(28);
			color: $mainOrange;

			@media (max-width: $mobile) {
				font-size: rem(36);
				width: rem(36);
				height: rem(36);
			}
		}

		span {
			font-weight: 400;
			font-size: rem(14);
			line-height: math.div(20, 14);
			letter-spacing: -0.015em;
			color: rgba(0, 0, 0, 0.64);

			@media (max-width: $mobile) {
				text-align: center;
			}
		}
	}
}

//====================================================================================================

.reviews-block {
	@include adaptiveValue('padding-top', 100, 40);
	@include adaptiveValue('padding-bottom', 100, 40);

	// .reviews-block__container
	&__container {
		position: relative;
	}

	// .reviews-block__body
	&__body {
		@include adaptiveValue('margin-top', 50, 30);
	}

	// .reviews-block__slider
	&__slider {
		padding: rem(15);
		margin: rem(-15);
	}

	// .reviews-block__wrapper
	&__wrapper {
	}

	// .reviews-block__slide
	&__slide {
	}
}

//====================================================================================================

.portfolio-block {
	@include adaptiveValue('padding-top', 100, 40);
	@include adaptiveValue('padding-bottom', 100, 40);

	// .portfolio-block__container
	&__container {
		position: relative;
	}

	// .portfolio-block__body
	&__body {
		@include adaptiveValue('margin-top', 50, 30);
	}

	// .portfolio-block__slider
	&__slider {
	}

	// .portfolio-block__wrapper
	&__wrapper {
	}

	// .portfolio-block__slide
	&__slide {
	}
}

.portfolio-item {
	width: 100%;
	border-radius: 10px;
	overflow: hidden;

	// .portfolio-item__image-ibg
	&__image-ibg {
		background-color: $mainOrange;
		padding-bottom: percent(197, 320);
	}
}

//====================================================================================================

.awards-block {
	background-color: $mainOrange;
	@include adaptiveValue('padding-top', 65, 25);
	@include adaptiveValue('padding-bottom', 160, 50);

	// .awards-block__container
	&__container {
		position: relative;
	}

	// .awards-block__body
	&__body {
		@include adaptiveValue('margin-top', 50, 30);
	}

	// .awards-block__slider
	&__slider {
	}

	// .awards-block__wrapper
	&__wrapper {
	}

	// .awards-block__slide
	&__slide {
	}
}

.awards-item {
	width: 100%;
	border-radius: 10px;
	overflow: hidden;

	// .awards-item__image-ibg
	&__image-ibg {
		background-color: $mainWhite;
		padding-bottom: percent(197, 320);
	}
}

//====================================================================================================
