.button {
	display: inline-block;
	font-weight: 600;
	font-size: rem(17);
	line-height: math.div(21, 17);
	border-radius: 5px;
	transition: background-color 0.3s ease 0s;
	text-align: center;
	background-color: $mainOrange;
	color: $mainWhite;

	@media (any-hover: hover) {
		&:hover {
			background-color: darken($mainOrange, 5%);
		}
	}

	&--header {
		padding: rem(16) rem(18);

		@media (max-width: $mobileSmall) {
			font-size: rem(16);
			width: 100%;
		}
	}

	&--main-block {
		padding: rem(16) rem(65);
	}

	&--consultation-block {
		padding: rem(16) rem(18);

		@media (max-width: $mobileSmall) {
			font-size: rem(16);
			width: 100%;
		}
	}

	&--form {
		padding: rem(16) rem(20);
	}
}

//====================================================================================================

.title {
	font-weight: 600;
	font-size: rem(30);
	@include adaptiveValue('font-size', 30, 24);
	line-height: math.div(36, 30);
	text-align: center;

	&._secure-padding {
		@media (min-width: $tablet) {
			padding: 0 rem(160);
		}
	}

	&--white {
		color: $mainWhite;
	}

	&--left {
		text-align: left;
	}

	&--left-center {
		text-align: left;

		@media (max-width: $mobile) {
			text-align: center;
		}
	}
}

.subtitle {
	@include adaptiveValue('margin-top', 30, 12);
	@include adaptiveValue('font-size', 18, 14);
	line-height: math.div(19, 14);
	text-align: center;
	color: #4d4d4d;

	&._secure-padding {
		@media (min-width: $tablet) {
			padding: 0 rem(160);
		}
	}

	&--white {
		color: $mainWhite;
	}

	&--left {
		text-align: left;

		@media (max-width: $mobile) {
			text-align: center;
		}
	}
}

//====================================================================================================

.slider-arrows {
	display: flex;
	align-items: center;
	gap: rem(13);
	position: absolute;
	right: rem(15);
	top: 0;

	@media (max-width: $tablet) {
		display: none;
	}

	&--white {
		button {
			border: 2px solid $mainWhite;

			&.swiper-button-disabled {
				border: 2px solid rgba($mainWhite, 0.5);

				&::before {
					color: rgba($mainWhite, 0.5);
				}

				@media (any-hover: hover) {
					&:hover {
						background: none;

						&::before {
							color: rgba($mainWhite, 0.5);
						}
					}
				}
			}

			&::before {
				color: $mainWhite;
			}

			@media (any-hover: hover) {
				&:hover {
					background-color: $mainWhite;

					&::before {
						color: $mainOrange;
					}
				}
			}
		}
	}

	&--orange {
		button {
			border: 2px solid $mainOrange;

			&.swiper-button-disabled {
				border: 2px solid rgba($mainOrange, 0.5);

				&::before {
					color: rgba($mainOrange, 0.5);
				}

				@media (any-hover: hover) {
					&:hover {
						background: none;

						&::before {
							color: rgba($mainOrange, 0.5);
						}
					}
				}
			}

			&::before {
				color: $mainOrange;
			}

			@media (any-hover: hover) {
				&:hover {
					background-color: $mainOrange;

					&::before {
						color: $mainWhite;
					}
				}
			}
		}
	}
}

.slider-arrow-prev,
.slider-arrow-next {
	width: rem(56);
	height: rem(56);
	border-radius: 50%;
	position: relative;

	&.swiper-button-disabled {
		cursor: default;
	}

	&::before {
		font-weight: 400;
		font-size: rem(25);
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-45%, -50%);
		transition: background-color 0.3s ease 0s, color 0.3s ease 0s;
	}
}

.slider-arrow-prev {
	transform: rotate(180deg);
}

//====================================================================================================

.link-more {
	display: inline-block;
	text-align: center;
	font-size: rem(16);
	letter-spacing: 0.035em;
	color: $mainOrange;
	position: absolute;
	right: rem(15);
	top: rem(10);
	border-bottom: 1px solid transparent;
	transition: border-bottom 0.3s ease 0s;

	@media (any-hover: hover) {
		&:hover {
			border-bottom: 1px solid $mainOrange;
		}
	}

	@media (max-width: $tablet) {
		font-size: rem(14);
		border: 1px solid $mainOrange;
		border-radius: 5px;
		padding: rem(12) rem(25);
		margin-top: rem(40);
		position: static;
	}

	@media (max-width: $mobileSmall) {
		width: 100%;
	}
}

//====================================================================================================

.link-back {
	padding: rem(10) 0;
	position: absolute;
	top: rem(20);
	left: rem(15);
	z-index: 1;
	padding: rem(10) 0;
	display: flex;
	align-items: center;
	color: $mainOrange;
	font-size: rem(14);

	span {
		border-bottom: 1px solid transparent;
		transition: border-bottom 0.2s ease 0s;
	}

	&::before {
		font-size: rem(10);
		transform: rotate(180deg) translateY(rem(1));
		margin-right: 5px;
	}

	@media (any-hover: hover) {
		&:hover {
			span {
				border-bottom: 1px solid $mainOrange;
			}
		}
	}
}

//====================================================================================================
.iti-mobile .iti--container {
}

.iti__selected-flag {
	background-color: $mainWhite !important;
}

.iti__flag {
	background-image: url('@img/flags.png');
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
	.iti__flag {
		background-image: url('@img/flags@2x.png');
	}
}
