.button {
	display: inline-block;
	font-weight: 600;
	font-size: rem(17);
	line-height: math.div(21, 17);
	border-radius: 5px;
	transition: background-color 0.3s ease 0s;
	text-align: center;

	background-color: $mainOrange;
	color: $mainWhite;

	@media (any-hover: hover) {
		&:hover {
			background-color: darken($mainOrange, 5%);
		}
	}
}

//====================================================================================================

.section-title {
	font-weight: 600;
	font-size: rem(30);
	@include adaptiveValue('font-size', 30, 24);
	line-height: math.div(36, 30);
	text-align: center;

	&._secure-padding {
		@media (min-width: $tablet) {
			padding: 0 rem(160);
		}
	}

	&--white {
		color: $mainWhite;
	}

	&--left {
		text-align: left;

		@media (max-width: $mobile) {
			text-align: center;
		}
	}
}

//====================================================================================================

.slider-arrows {
	display: flex;
	align-items: center;
	gap: rem(13);
	position: absolute;
	right: rem(15);
	top: 0;

	@media (max-width: $tablet) {
		display: none;
	}
}

.slider-arrow-prev,
.slider-arrow-next {
	width: rem(56);
	height: rem(56);
	border: 2px solid $mainWhite;
	border-radius: 50%;
	position: relative;

	&.swiper-button-disabled {
		cursor: default;
		border: 2px solid rgba($mainWhite, 0.5);

		&::before {
			color: rgba($mainWhite, 0.5);
		}

		@media (any-hover: hover) {
			&:hover {
				background: none;

				&::before {
					color: rgba($mainWhite, 0.5);
				}
			}
		}
	}

	&::before {
		font-weight: 400;
		font-size: rem(25);
		color: $mainWhite;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-45%, -50%);
		transition: background-color 0.3s ease 0s, color 0.3s ease 0s;
	}

	@media (any-hover: hover) {
		&:hover {
			background-color: $mainWhite;

			&::before {
				color: $mainOrange;
			}
		}
	}
}

.slider-arrow-prev {
	transform: rotate(180deg);
}

.slider-arrow-next {
}

//====================================================================================================

.link-more {
	display: inline-block;
	text-align: center;
	font-size: rem(16);
	letter-spacing: 0.035em;
	color: $mainOrange;
	position: absolute;
	right: rem(15);
	top: rem(10);
	border-bottom: 1px solid transparent;
	transition: border-bottom 0.3s ease 0s;

	@media (any-hover: hover) {
		&:hover {
			border-bottom: 1px solid $mainOrange;
		}
	}

	@media (max-width: $tablet) {
		font-size: rem(14);
		border: 1px solid $mainOrange;
		border-radius: 5px;
		padding: rem(12) rem(25);
		margin-top: rem(40);
		position: static;
	}

	@media (max-width: $mobileSmall) {
		width: 100%;
	}
}
